body {
    font-family: Arial, sans-serif; /* Tipo de fuente */
    margin: 0; /* Elimina margen */
    padding: 0; /* Elimina relleno */
    background-color: #f4f4f4; /* Color claro al fondo */
}

header {
    background-color: #ed1c24; /* Color rojo al fondo */
    color: white; /* Color blanco al texto */
    padding: 15px; /* Tamaño de relleno */
    text-align: center; /* Centra elementos al centro */
}

h1 {
    text-align: center; /* Centra elementos al centro */
}

.imagen {
    display: block; /* Imagen se comporta como un bloque */
    margin-left: auto; /* Margen izquierdo auto */
    margin-right: auto; /* Margen derecho auto */
    max-width: 35%; /* No excede el ancho del contenedor */
    height: auto; /* Relación de aspecto */
}

.imagen1 {
    display: block; /* Imagen se comporta como un bloque */
    margin-left: auto; /* Margen izquierdo auto */
    margin-right: auto; /* Margen derecho auto */
    max-width: 40%; /* No excede el ancho del contenedor */
    height: auto; /* Relación de aspecto */
}

nav {
    background-color: #444; /* Color de fondo oscuro */
    overflow: hidden; /* Oculta el desbordamiento */
}

nav ul {
    padding: 0; /* Elimina el margen interno */
    margin: 0; /* Elimina el margen externo */
    list-style-type: none; /* Elimina los puntos de la lista */
    text-align: center; /* Centra los elementos horizontalmente */
}

nav ul li {
    display: inline; /* Muestra los elementos en linea  */
}

nav ul li a {
    display: inline-block; /* Espaciado alrededor */
    padding: 14px 20px; /* Espaciado interno */
    color: white; /* Color de texto blanco */
    background-color: #444; /* Color gris oscuro para el fondo */
    text-decoration: none; /* Elimina el subrayado del texto */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    margin: 0 5px; /* Margen horizontal */
    transition: background-color 0.3s ease; /* Transicion suave de color de fondo */
}

nav ul li a:hover {
    background-color: #666; /* Fondo gris medio al pasar el cursor */
}

section {
    padding: 20px; /* Espaciado interno */
    background-color: white; /* Fondo blanco */
    margin: 20px; /* Margen externo */
    border-radius: 5px; /* Bordes ligeramente redondeados */
}

.product-container {
    display: flex; /* Alineacion de elementos */
    flex-wrap: wrap; /* Espacio hacia la linea siguiente */
    justify-content: space-around; /* Deja espacio alrededor */
    padding: 20px; /* Espaciado interno */
}

.product-card {
    background-color: white; /* Fondo blanco */
    border: 1px solid #ddd; /* Bordes gris claro */
    border-radius: 8px; /* Bordes suaves */
    width: 250px; /* Ancho fijo */
    margin: 15px; /* Espaciado externo */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alinea elementos al centro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sobra sutil */
    transition: transform 0.3s ease; /* Transicion suave */
}

.product-card:hover {
    transform: translateY(-5px); /* Desplazamiento ligero hacia arriba */
}

.product-card img {
    width: 100%; /* Ajusta la imagen a lo ancho */
    height: auto; /* Mantiene la proporcion de la imagen */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espacio debajo de la imagen */
}

.product-info {
    margin-bottom: 15px; /* Espaciado inferior para informacion */
}

.product-info h3 {
    font-size: 18px; /* Tamaño de fuente para el titulo */
    color: #333; /* Color de texto gris oscuro */
}

.product-info p {
    font-size: 14px; /* Tamaño de fuente */
    color: #666; /* Color de texto gris medio */
    margin: 5px 0; /* Espacio verticial */
}

.product-price {
    font-size: 20px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita  */
    color: #27ae60; /* Color verde */
    margin-bottom: 15px; /* Espacio inferior */
}

.product-buttons {
    display: flex; /* Alineacion de botones */
    justify-content: space-between; /* Dsitribucion de botones */
}

.product-buttons button {
    background-color: #333; /* Fondo color gris oscuro para el botón  */
    color: white; /* Color de texto blanco */
    padding: 10px 15px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima  */
    transition: background-color 0.3s ease; /* Tansición suave de color */
}

.product-buttons button:hover {
    background-color: #555; /* Fondo de color gris oscuro */
}

.product-buttons .buy-btn {
    background-color: #27ae60; /* Fondo de color verde al inicio */
}

.product-buttons .buy-btn:hover {
    background-color: #2ecc71; /* Fondo de color verde */
}

.modal {
    display: none; /* Oculta la modal por defecto */
    position: fixed; /* Mantiene la modal en posición fija */
    z-index: 1; /* Asegura que esté en frente */
    left: 0; /* Posición al borde izquierdo */
    top: 0; /* Posición al borde superior */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Agrega scroll si es necesario */
    background-color: rgb(0,0,0); /* Fondo negro con opacidad */
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
}

#ofertas {
    text-align: center; /* Centra todo el contenido de la sección */
    margin: 20px; /* Espaciado alrededor de la sección */
}

#ver-carrito-btn {
    background-color: #4CAF50; /* Color verde */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 8px 6px; /* Espaciado interno */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Para que se comporte como un bloque */
    font-size: 16px; /* Tamaño de la fuente */
    margin: auto; /* Margen alrededor del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color */
}

#ver-carrito-btn:hover {
    background-color: #45a049; /* Color más oscuro al pasar el mouse */
}

#payment-modal {
    display: none; /* Oculta la modal por defecto */
    position: fixed; /* Mantiene la modal en posición fija */
    z-index: 1; /* Asegura que esté en frente */
    left: 0; /* Posición al borde izquierdo */
    top: 0; /* Posición al borde superior */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Agrega scroll si es necesario */
    background-color: rgb(0,0,0); /* Fondo negro con opacidad */
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
}

.modal-content {
    background-color: #fefefe; /* Color de fondo blanco */
    border-radius: 2%; /* Bordes ligeramente redondeados */
    margin: 5% auto; /* Centra verticalmente */
    padding: 10px; /* Espacio interno del contenido */
    border: 1px solid #888; /* Borde gris claro */
    width: 25%; /* Ancho de la modal */
    height: auto; /* Altura automática */
}

.close {
    color: #aaa; /* Aplica color al botón */
    float: right; /* Alinea el botón a la derecha */
    font-size: 28px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
}

.close:hover,
.close:focus {
    color: black; /* Cmabio de color a negro */
    text-decoration: none; /* Quita subrayado o decoración */
    cursor: pointer; /* Cursor parecido a una mano */
}